* {
    box-sizing: border-box;
}
body {
    margin: 0;
    line-height: 1;
    
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: Poppins, sans-serif;
}

nav {
    width: 100vw;
    height: 10vh;
    
    display: flex;
    justify-content: space-between; 
}

.icon {
    margin: 24px;
    
    max-height: 100%;
    width: auto;
}

.logo {
    margin: 19px;
    
    max-height: 100%;
    width: auto;
}

main {
    width: 100vw;
    height: 90vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    background: linear-gradient(180deg, #FFFFFF 33.29%, #F7F8FC 100%);
}

#section--dog {
    position: relative;
    
}

.badge {
    position: absolute;
    
    max-width: 233px;
    height: 116px;
    left: 14px;
    top: 53px;

    transform: rotate(-30deg);
}

#dog--avatar-container {
    display: flex;
}

.dog--avatar {
    width: 95vw;
    height: 70vh; 
    border-radius: 15px;
    object-fit: cover;
}

.dog--text-container {
    position: absolute;
    bottom: 16px;
    left: 12px;
}

.dog--title {   
    color: #F8F8F8;   
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}

.dog--description {
    font-size: 24px;
    color: #B7B7B7;
    font-weight: 400;
}

/* @media only screen and (max-width: 600px) {
  .dog--description {
    font-size: 24px;
  }
} */

#section--user-action {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container--icon-action-button {
    max-width: 20vh;
    max-height: 20vh;
    margin: 15px;
    /* box-sizing: content-box; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 100%;
    
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
}

.icon--action-button {
    max-width: 100%;
    height: auto;
    object-fit: fill;
    padding: 30px;
}

/* section below disabled due to isseus on mobile */
/* #button--reject:hover {
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}

#button--accept:hover {
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
} */

#button--reject:active {
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}

#button--accept:active {
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}
.end--screen {
    width: 80%;
    background: rgb(249,58,114);
    background: linear-gradient(90deg, rgba(249,58,114,1) 0%, rgba(250,102,91,1) 100%);
    border-radius: 50% 20% / 10% 40%;
    padding: 20px;
    text-align: center;
    color: white;
}
.end--emoji {
    font-size: 80px;
    margin: 0;
}
